
* {
  --border-color: #214e52;

}

body {
  font-family: 'Quicksand', sans-serif;
  color: var(--border-color);
  background-image: linear-gradient(#a2d0c1,  rgb(199, 248, 179))
}

h1 {
  background-color:#eff7e1;
  padding: .5em;
  border-radius: 15px;
  border: 5px solid var(--border-color);
}

input[type="text"] {
  font-size: 20px;
    margin-left: 10%;
    margin-bottom: 5px;
    height: 30px;
    width: 40%;
    border: 1px solid var(--border-color);

}
/* 
I was worried about time, so I went with sort of a hacky solution I found by googling
around instead of what would have normally done, which is work this out using
flexbox. 
Here's the credit for the grid css: 
https://medium.com/cloudaper/how-to-create-a-flexible-square-grid-with-css-grid-layout-ea48baf038f3
 */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
  grid-auto-rows: 1fr;
}

.grid::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid-entry {
  background-color: lightgrey;
  padding: 1px;
  margin: 0.5em;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.entry-label {
  background-color: #ffffff;
  border: 1px solid var(--border-color);
}
